<%= form_for(@front) do |f| %>
  <% if @front.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@front.errors.count, "error") %> prohibited this front from being saved:</h2>

      <ul>
      <% @front.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
